Django==2.2.1
pytz==2019.1
sqlparse==0.3.0
drf_yasg
2to3==1.0
alabaster==0.7.3
appnope==0.1.0
argh==0.26.2
astroid==1.3.6
attrs==19.1.0
Babel==1.3
backcall==0.1.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
backports.shutil-which==3.5.1
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.6.3
bleach==2.1.3
blessed==1.14.2
boto==2.46.1
boto3==1.7.40
botocore==1.10.84
cachetools==2.1.0
caniusepython3==7.0.0
cement==2.8.2
certifi==2017.4.17
chardet==3.0.4
chargebee==2.5.3
click==6.7
cloudpickle==0.7.0
colorama==0.3.7
configparser==3.5.0
coreapi==2.3.3
coreschema==0.0.4
coverage==4.0a5
cycler==0.10.0
dask==1.1.0
decorator==4.3.2
defusedxml==0.6.0
distlib==0.2.8

django-activity-stream
django-appconf
django-autocomplete-light
django-autoslug
django-bootstrap-form
django-bootstrap-forms
django-bower
django-columns
django-cors-headers
django-countries
django-extensions
django-filer
django-filter
django-formtools
django-googledrive-api
django-googledrive-storage
django-haystack
django-images
django-jsonfield
django-localflavor
django-mptt
django-multiupload
django-nose
django-notifications-hq
django-pagination-py3
django-polymorphic
django-postman
django-render-block
django-rest-elasticsearch
django-sslify
django-sslserver
django-storages
django-tagging
django-templated-email
django-user-accounts
django-webpack-loader
djangorestframework
djangorestframework-datatables
djangorestframework-jwt
djangorestframework-simplejwt
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.12
drfdocs==0.0.11
easy-thumbnails==2.3
elasticsearch==5.4.0
elasticsearch-dsl==5.3.0
entrypoints==0.2.3
enum34==1.1.6
et-xmlfile==1.0.1
futures==3.1.1
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
googlemaps==2.2
html2text==2018.1.9
html5lib==1.0.1
httplib2==0.9.2
httplib2shim==0.0.3
httpretty==0.8.8
idna==2.7
ipdb==0.10.3
ipykernel==4.8.2
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.2.0
itsdangerous==0.24
itypes==1.1.0
jdcal==1.3
jedi==0.13.3
Jinja2==2.7.3
jmespath==0.9.3
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.0.1
lazy-object-proxy==1.3.1
livereload==2.5.1
lml==0.0.1
logilab-common==0.63.2
MarkupSafe==0.23
matplotlib==2.2.3
mistune==0.8.3
mock==1.0.1
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.2
nose==1.3.7
notebook==5.4.1
oauth2==1.9.0.post1
oauth2client==4.1.3
oauthlib==0.7.2
olefile==0.44
openpyxl==2.4.5
ordereddict==1.1
packaging==19.0
pam==0.1.4
pandocfilters==1.4.2
parso==0.4.0
pathlib2==2.3.0
pathspec==0.5.0
pathtools==0.1.2
pdfkit==0.6.1
pexpect==4.4.0
pickleshare==0.7.4
Pillow==5.4.1
pinax-theme-bootstrap==7.2.0
port-for==0.3.1
prometheus-client==0.6.0
prompt-toolkit==1.0.15
psycopg2==2.7.3.2
ptyprocess==0.5.2
py2-py3-django-email-as-username==1.7.1
pyasn1==0.4.4
pyasn1-modules==0.2.2
PyDrive==1.3.1
pyexcel==0.4.5
pyexcel-io==0.3.3
pyexcel-webio==0.0.11
pyexcel-xls==0.3.1
pyexcel-xlsx==0.3.0
Pygments==2.0.2
pyimage==0.1.1
PyJWT==1.5.3
pylabels==1.2.1
pylint==1.4.3
pyparsing==2.3.1
pyrsistent==0.15.0
python-dateutil==2.6.1
python-oauth2==1.1.0
python-openid==2.2.5
PyTumblr==0.0.6
PyWavelets==1.0.1
pywinpty==0.5.4
pyzmq==17.0.0
qrcode==6.1
qtconsole==4.3.1
reportlab==3.5.13
requests==2.10.0
requests-oauthlib==0.4.2
rsa==3.4.2
s3transfer==0.1.10
scikit-image==0.14.2
scipy==1.2.0
semantic-version==2.5.0
semantics3==0.3.6
Send2Trash==1.5.0
simplegeneric==0.8.1
simplejson==3.6.5
singledispatch==3.4.0.3
six==1.11.0
snowballstemmer==1.2.0
sorl-thumbnail==12.3
Sphinx==1.3.1
sphinx-autobuild==0.7.1
sphinx-rtd-theme==0.1.7
subprocess32==3.5.3
swapper==1.1.0
tabulate==0.7.5
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
texttable==0.8.8
tldr==0.4
toolz==0.9.0
tornado==4.5.1
traitlets==4.3.2
twilio==3.8.0
typed-ast==1.3.4
Unidecode==0.4.21
uritemplate==3.0.0
urllib3==1.21.1
urltools==0.3.2
virtualenv==15.1.0
watchdog==0.8.3
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.46.0
Werkzeug==0.14.1
widgetsnbextension==3.2.0
win-unicode-console==0.5
WooCommerce==1.2.1
wrapt==1.11.1
xlrd==1.0.0
xlwt==1.2.0
