beautifulsoup4==4.6.3
bleach==3.1.0
boto==2.46.1
boto3==1.7.40
botocore==1.10.84
cachetools==3.1.1
certifi==2019.6.16
click==6.7
cloudpickle==0.7.0
coreapi==2.3.3
coreschema==0.0.4
coverage==4.0a5
cycler==0.10.0
dask==2.1.0
decorator==4.4.0
defusedxml==0.6.0
Django==2.2.1
django-activity-stream==0.8.0
django-appconf==1.0.3
django-autocomplete-light==3.4.1
django-autoslug==1.9.5
django-bootstrap-form==3.4
django-bootstrap-forms==0.1
django-bower==5.2.0
django-columns==0.1.0
django-cors-headers==3.0.2
django-countries==5.3.3
django-extensions==2.2.1
django-filer==1.5.0
django-filter==2.2.0
django-formtools==2.1
django-googledrive-api==0.2.4
django-googledrive-storage==1.3.5
django-haystack==2.8.1
django-images==0.4.3
django-js-asset==1.2.2
django-jsonfield==1.2.0
django-localflavor==2.2
django-model-utils==3.2.0
django-mptt==0.10.0
django-multiupload==0.5.2
django-nose==1.4.6
django-notifications-hq==1.5.0
django-pagination-py3==1.1.2
django-polymorphic==2.0.3
django-postman==3.6.2
django-render-block==0.6
django-rest-elasticsearch==0.4.1
django-sslify==0.2.7
django-sslserver==0.20
django-storages==1.7.1
django-tagging==0.4.6
django-templated-email==2.3.0
django-user-accounts==2.1.0
django-webpack-loader==0.6.0
djangorestframework==3.10.1
djangorestframework-datatables==0.5.0
djangorestframework-jwt==1.11.0
djangorestframework-simplejwt==4.3.0
docutils==0.15.1
easy-thumbnails==2.6
elasticsearch==6.4.0
elasticsearch-dsl==6.4.0
entrypoints==0.3
google-api-python-client==1.7.4
google-auth==1.5.1
google-auth-httplib2==0.0.3
googlemaps==2.2
html2text==2018.1.9
html5lib==1.0.1
httplib2==0.9.2
httplib2shim==0.0.3
httpretty==0.8.8
idna==2.7
ipdb==0.10.3
ipykernel==4.8.2
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.2.0
itypes==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
jsonfield==2.0.2
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.0.3
mistune==0.8.4
nbconvert==5.5.0
nbformat==4.4.0
networkx==2.3
nose==1.3.7
notebook==6.0.0
numpy==1.17.0
oauth2client==4.1.3
oauthlib==3.0.2
pandocfilters==1.4.2
pexpect==4.7.0
pickleshare==0.7.4
Pillow==5.4.1
prometheus-client==0.7.1
prompt-toolkit==1.0.16
psycopg2==2.7.3.2
ptyprocess==0.6.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
Pygments==2.4.2
PyJWT==1.7.1
pyparsing==2.4.1.1
pytest-runner==5.1
python-dateutil==2.8.0
python-stdnum==1.11
pytz==2019.1
PyWavelets==1.0.3
pyzmq==18.0.2
qtconsole==4.5.2
requests==2.10.0
requests-oauthlib==0.4.2
rsa==3.4.2
s3transfer==0.1.10
scikit-image==0.14.2
scipy==1.2.0
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.12.0
sqlparse==0.3.0
terminado==0.8.2
testpath==0.4.2
toolz==0.10.0
tornado==6.0.3
traitlets==4.3.2
Unidecode==1.0.23
uritemplate==3.0.0
urllib3==1.21.1
urltools==0.3.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.46.0
widgetsnbextension==3.2.1
